model:
  name: rn-coverage
  objectives:
    loss:
      class_path: src.training.optimisation.losses.LogMSELoss
    mae:
      class_path: torch.nn.L1Loss

trainer:
  devices: 1
  accumulate_grad_batches: 2
  gradient_clip_val: 1.0
  max_epochs: 10
  callbacks:
    - class_path: pytorch_lightning.callbacks.ModelCheckpoint
      init_args:
        filename: best_model
        mode: min
        save_top_k: 1
        save_last: true
        dirpath: ./checkpoints/
    - class_path: pytorch_lightning.callbacks.EarlyStopping
      init_args:
        monitor: val_loss
        patience: 10
        mode: min
        verbose: true
    - class_path: src.training.finetuning.unfreeze_scheduler.FineTuningScheduler
      init_args:
        layers_to_unfreeze: [8,7,6,5,4,3,2,1]
        unfreeze_rate: 1

optimizer:
  lr: 0.001

lr_scheduler:
  warmup_epochs: 3

data:
  class_path: src.data.datamodules.HDF5DataModule
  init_args:
    batch_size: 16
    input_variables:
      - [[sequence], x]
    target_variables:
      - [[2A3, DMS], target]
    paths:
      train:
        - data/train.h5
      validate:
        - data/val.h5
